.bodiv {
    width: 75%;
    margin: auto;


}
.mainpic {
    width: 90%;
    margin: auto;
}

body {
    background-color: #3C485F;
    margin: auto;
    padding: 0;
    text-align: center;
}

.hedr {
    color: #B5D8E6;
    position: relative;
    bottom: 25px;
}

#pic2 {
    width: 90%;
    margin: auto;
}
.divm {
    margin: 50px 0px 50px;
}

h3 {
    color: #B5D8E6;
}
.navbar-brand {
    color: #B5D8E6;
}

#cam {
    width: 80px;
    position: absolute;
    top: 60px;
    left: 20px;
}

#cam2 {
    width: 75px;
    position: absolute;
    top: 70px;
    right: 17px;
}

/* portfolio page, tags and classes*/

#ded {
    width: 80%;
    margin: 20px auto;
    
}



.pl {
    width: 70%;
    position: relative;
    right: 40px;

}

.pr {
    width: 70%;
    margin: 20px auto 0px;
    position: relative;
    left: 40px;
}

.div2 {
    margin-top: 20px;
}
#po {
    position: relative;
    top: 10px;
}

/*   prices page   */
